# Залежності (бібліотеки Node.js)
node_modules/

# Секретні налаштування (паролі)
.env

# Логи
*.log
npm-debug.log*

# OS файли
.DS_Store
Thumbs.db

# IDE файли тут  nen 
.vscode/
.idea/

# Тимчасові файли тут
*.tmp
*.temp